
  <% if params[:tipo_usuario] == "cliente" %>
    <h1><%= link_to 'Inicio', {:controller => "usuarios" , :action => "clientes"}%> /Agregar Cliente</h1>
  <% end %>
  <% if params[:tipo_usuario] == "tecnico" %>
    <h1><%= link_to 'Inicio', {:controller => "usuarios" , :action => "tecnicos"}%> / Agregar Técnico</h1>
  <% end %>
  <% if params[:tipo_usuario] == "jefe_tecnico" %>
    <h1>Agregar Jefe Técnico</h1>
  <% end %>
  <% if params[:tipo_usuario] == nil %>
    <h1>Agregar Usuario</h1>
  <% end %>

<% form_tag({:action=>'create'}, :multipart => true ) do%>
<%= error_messages_for 'usuario' %>

 <%= render :partial => 'form' %>  
<p>
  <%= submit_tag 'Crear Usuario' %>
</p>
<% end %> 

<%= link_to 'Volver', :action =>'index' %>